@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Подчеркивание для обычного текста */
.links {
  text-decoration: underline;
}



/* Базовые стили */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; /* Обычный */
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

h1, h2, h3 {
  font-weight: 600; /* Полужирный */
  line-height: 1.2;
  margin: 0 0 var(--gap-medium);
}
